
fastapi
uvicorn[standard]
python-multipart


pydantic
pydantic-settings


langchain-groq
langchain-core
langchain-community
langgraph


faiss-cpu
fastembed


pandas
numpy
matplotlib

python-dotenv

typing-extensions
